header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    position: sticky;
    background-color: white;
    border-bottom: 1px solid black;
    top: 0;
    margin-bottom: 32px;
    z-index: 99999;

    a {
        display: flex;
        align-self: center;
        text-decoration: none;
        color: black;
    }
    a:hover {
        text-decoration: underline;
    }

    .menu-navbar-container {
        .menu {
            display: flex;
            gap: 30px;
            list-style-type: none;

            .menu-item {
                color: black;
                text-decoration: none;
            }
        }
    }

    #mobile-menu-button {
        display: none;
    }
}

.active {
    font-weight: 900;
}

.mobile-menu {
    position: sticky;
    z-index: 9999;
    width: 95vw;
    height: 100vh;
    top: 48px;
    background-color: white;
    display: none;
    padding-top: 64px;
}

.mobile-menu--active {
    display: block;
}

@media (max-width: 800px) {
    header {
        padding: 15px 0;

        .menu-navbar-container {
            display: none;

            #mobile-menu-button {
                -webkit-user-select: none; /* Safari */
                -ms-user-select: none; /* IE 10 and IE 11 */
                user-select: none; /* Standard syntax */
            }
        }

        #mobile-menu-button {
            display: block;
        }
    }
}