.article-preview {

    .article-preview__element-1 {
        margin-bottom: 48px;

        .article-preview__title {
            a {
                font-size: 1.5em;
                color: black;
                text-decoration: none;
            }
        }

        article {
            gap: 24px;
            display: grid;
            grid-template-columns: 60% 40%;
        }
    }

    .article-preview__element {

        .article-preview__image img {
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
            object-fit: cover;
        }

        .article-preview__title {
            margin-top: 8px;
        }

        .article-preview__title a {
            color: black;
            text-decoration: none;
        }
        .article-preview__date {
            color: rgba(0,0,0,0.5);
        }

        .article-preview__description {
            width: 100%;
        }
    }
}

@media (max-width: 900px) {
    .article-preview {
        .article-preview__element-1 {
            article {
                grid-template-columns: 100%;
                gap: 0px;
            }

            .article-preview__title {
                font-size: 2em;
                margin: 16px 0;
            }

            .article-preview__image img {
                aspect-ratio: 16/14;
            }
        }

        .article-preview__element {
            .article-preview__description {
                display: none;
            }
        }
    }
}